body {
  background-color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.knockout {
  background: url("http://i.giphy.com/iWJ1OFyyNd6PC.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color:  rgba(0,0,0,0.5);

  padding: 25px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 250px;
}
