body {
  background-color: white;
  /*cursor: url('img/32-unicorn.png'), auto;*/
  cursor: url('img/unicorn-favicon.webp'), auto;
}

.mock-div {
  background-color: black;
  opacity: 1;
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.knockout {
  background: url("http://i.giphy.com/iWJ1OFyyNd6PC.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color:  rgba(0,0,0,0.5);

  padding: 25px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 250px;
}
